html { box-sizing: border-box; font-size: 16px; }
*, *:before, *:after { box-sizing: inherit; }
body, h1, h2, h3, h4, h5, h6, p, ol, ul { margin: 0; padding: 0; font-weight: normal; }
ol, ul { list-style: none; }
/* img { max-width: 100%; height: auto; } */

/* font-family: 'Poppins', sans-serif; */

.container-header {
    margin: auto;
}

.container-content {
    margin: auto;
    display: flex;
    justify-content: center;
}

.max-container {
    max-width: 1037px;
}

.container-footer {
    display: flex;
    padding-top: 40px;
    margin-left: 72px;
    margin-right: 74px;
    margin-bottom: 147px;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px -1px 0px #E6E9EF;
}

.content-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding-right: 66px;
    /* or 175% */
    
    letter-spacing: 0.8px;
    
    color: rgba(13, 35, 68, 0.8);
}

.top-bar {
    padding-top: 32px;
    display: flex;
    justify-content: center;
}

.top-bar-content {
    width: 1037px;
    height: 84px;
    background: #FFFFFF;
    border: 1px solid #E6E9EF;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.top-bar-auth {
    display: flex;
    align-items: center;
}

.container-header-text {
    display: flex;
    justify-content: center;
}

.bg-header {
    background-image: url(images/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card1 {
    display: flex;
    margin-top: 10px;
}

.card2 {
    display: flex;
    margin-bottom: 105px;
}

.card2-right {
    padding-top: 80px;
    padding-left: 133px;
}

.bottom-banner {
    display: flex;
}

.h2-bottom {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    /* identical to box height */

    letter-spacing: 0.8px;

    color: #FFFFFF;
}

.google-image{
    padding-right: 16px;
}

.text-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 149px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */

    letter-spacing: 0.8px;

    color: rgba(255, 255, 255, 0.8);
}

.banner-right-image {
    padding-top: 119px;
    padding-right: 50.75px;
}

.banner-left {
    padding-top: 106px;
    padding-left: 40px;
}

.bottom-banner2 {
    display: flex;
    justify-content: center;
}

.container-bottom-banner {
    width: 1036px;
    height: 406px;
    background-image: url(images/bg-footer.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 87px;
}

.button-discont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 231px;
    height: 52px;

    background: #FFFFFF;
    border: 1px solid #E6E9EF;
    border-radius: 12px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */
    
    text-align: center;
    letter-spacing: 0.8px;
    
    /* Brand Blue */
    
    color: #1971F5;
}

ul {
    list-style-image: url(images/Check\ Icon\ -\ Dark.svg);
}

.list-plan {
    padding-bottom: 16px;
    padding-left: 24.9px
}

.card1-left {
    padding-top: 88px;
    padding-right: 125px;
}

.p-plan-text {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-plan {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    letter-spacing: 0.8px;

    color: #0D2344;
}

.p-plan-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */

    letter-spacing: 0.8px;

    color: rgba(13, 35, 68, 0.8);
}

ul {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */

    letter-spacing: 0.8px;

    color: rgba(13, 35, 68, 0.8);
}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.8px;

    color: #000000;
}

.container-header-text {
    margin-top: 76px;
}

.p-header-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    width: 655px;
    margin-top: 26px;
    text-align: center;
    letter-spacing: 0.8px;

    color: rgba(13, 35, 68, 0.8);
}

.button-get-started {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 143px;
    height: 56px;

    /* Semantic Uses/Brand/500 */

    background: #1971F5;
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.4px;

    /* white */

    color: #FFFFFF;
}

.container-button-get-started {
    display: flex;
    justify-content: center;
    margin-top: 26px;
    margin-bottom: 101px;
}

a {
    text-decoration: none;
}

.button-sign-up {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 52px;

    /* Brand Blue */

    background: #1971F5;
    border-radius: 12px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */

    text-align: center;
    letter-spacing: 0.8px;

    color: #FFFFFF;
}

.text-top-menu {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */
    padding-right: 32px;
    text-align: center;
    letter-spacing: 0.8px;

    color: #0D2344;

}

.br-image-time {
    background-image: url(images/Youtube\ player.png);
    background-repeat: no-repeat;
    width: 1037px;
    height: 582px;
}

.container-time-image {
    margin-top: 39px;
    margin-bottom: 59px;
    display: flex;
    justify-content: center;
}

.container-time {
    display: flex;
    justify-content: center;
}

h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */


    color: #000000;
}

.time {
    display: flex;
    width: 1036px;
    height: 163px;
    background: #FBFCFD;
    box-shadow: 1px 0px 0px #E6E9EF;
}

.border-numbers {
    border: 1px solid #E6E9EF;
    border-radius: 22px;
}
.time-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 59px;
}

.days-number, .hours-number, .minutes-number, .seconds-number {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    /* identical to box height, or 109% */

    /* Primary/Gray/800 */

    color: #1E293B;
}
.days, .hours, .minutes, .seconds {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */
    
    letter-spacing: 0.8px;
    
    /* Primary/Gray/800 */
    
    color: #1E293B;
}

.time-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-right: 1px solid #E6E9EF
}

.time-container:last-child {
    border-right: none;
}

.container-content-image {
    margin-right: 15px;
}

.content-image {
    background-image: url(images/content-image.png);
    background-position: center;
    width: 434px;
    height: 434px;
}

.container-need-more {
    margin: auto;
}

.center-text {
    text-align: center;
    padding-bottom: 20px;
}

.text-need-more {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    text-align: center;
    letter-spacing: 0.8px;

    color: rgba(13, 35, 68, 0.8);
}

.text-need-more-blue {
    padding-top: 10px;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */

    text-align: center;
    letter-spacing: 0.8px;

    /* Semantic Uses/Brand/500 */

    color: #1971F5;
}

.container-wrapper-footer {
    max-width: 1440px;
    margin: auto;
}

.socials {
    padding-top: 20px;
    max-width: 176px;
    display: flex;
    justify-content: space-between;
}

.container-footer-left {
    max-width: 242px;
}

.p-footer-left {
    padding-top: 20px;
    padding-bottom: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* or 167% */

    letter-spacing: 0.8px;

    /* Dark */

    color: #202046;
}

.section-wrapper {
    background-image: url(images/bg-center.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.p-footer-blue {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */

    letter-spacing: 0.8px;
    padding-left: 8px;

    /* Brand Blue */

    color: #1971F5;
}

.container-mail {
    display: flex;
    align-items: center;
    padding-top: 12px;
}

.wrapper-mail {
    box-shadow: 0px -1px 0px #E6E9EF;
}

.copyright {
    margin-top: 20px;
    padding-top: 16px;
    padding-bottom: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */

    letter-spacing: 0.8px;

    color: rgba(13, 35, 68, 0.6);
    box-shadow: 0px -1px 0px #E6E9EF;
}

.container-footer-center{
    display: flex;
}

.bottom-text-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    letter-spacing: 1px;
    text-transform: uppercase;

    color: rgba(13, 35, 68, 0.8);

    opacity: 0.6;
}

.bottom-menu {
    list-style: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */

    letter-spacing: 0.8px;
    display: grid;

    color: rgba(13, 35, 68, 0.8)
}

.menu-item {
    padding-top: 8px;
}

.container-footer-right {
    max-width: 276px;
}

.p-footer-right {
    padding-top: 8px;
    padding-bottom: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    /* or 183% */

    letter-spacing: 0.8px;

    color: rgba(13, 35, 68, 0.8);
}

.bottom-menu-a {
    color: rgba(13, 35, 68, 0.8);
}

